In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import math

import acquire as a
import prepare as p

In [2]:
df = a.get_superstore_data()

In [3]:
df = p.prepare_superstore(df)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1734 entries, 2014-01-04 to 2017-12-30
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Customer ID    1734 non-null   object
 1   Order ID       1734 non-null   object
 2   Ship Date      1734 non-null   datetime64[ns]
 3   Ship Mode      1734 non-null   object
 4   Segment        1734 non-null   object
 5   Country        1734 non-null   object
 6   City           1734 non-null   object
 7   State          1734 non-null   object
 8   Postal Code    1734 non-null   float64
 9   Sales          1734 non-null   float64
 10  Quantity       1734 non-null   float64
 11  Discount       1734 non-null   float64
 12  Profit         1734 non-null   float64
 13  Category       1734 non-null   object
 14  Sub-Category   1734 non-null   object
 15  Customer Name  1734 non-null   object
 16  Product Name   1734 non-null   object
 17  Region Name    1734 non-null   object
dtypes: datetime64[ns](1), float64(5), object(12)
memory usage: 257.4+ KB

In [7]:
df.describe() .T

,count,mean,std,min,25%,50%,75%,max
Postal Code,1734.0,53501.926182,32180.245224,1841.0000,19143.0000,50315.00000,85705.00000,98661.000
Sales,1734.0,229.206358,532.862614,1.0800,16.6950,52.24500,209.91750,8159.952
Quantity,1734.0,3.794694,2.297407,1.0000,2.0000,3.00000,5.00000,14.000
Discount,1734.0,0.160110,0.206419,0.0000,0.0000,0.20000,0.20000,0.800
Profit,1734.0,21.880351,202.891949,-3839.9904,1.7024,8.07305,27.41445,3177.475